@{
    ViewData["Title"] = "基础支持-账户信息设置";
}

<div class="container">

    <form method="post">
        <div class="mb-3">
            <label for="appid" class="form-label">appid：</label>
            <input type="text" class="form-control" id="appid" name="appid" value="@ViewData["appid"]" autocomplete="off" required />
            <div class="invalid-feedback">
                请输入appid
            </div>
        </div>
        <div class="mb-3">
            <label for="appsecret" class="form-label">appsecret：</label>
            <input type="text" class="form-control" id="appsecret" name="appsecret" value="@ViewData["appsecret"]" autocomplete="off" required />
            <div class="invalid-feedback">
                请输入appsecret
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" asp-controller="Account" asp-action="SetAccountInfo">保存</button>
        </div>
    </form>

</div>

<script>
    function SetAccountInfo() {
        if (true) {
            AlertSuccess("保存成功！");
        }

        //fetch("/Account/SetAccountInfo", {
        //    method: "POST",
        //    //headers: { 'content-type': 'application/json' },
        //    //mode: 'cors',
        //    //credentials: 'include',
        //    body: data,
        //})
        //    .then((response) =>
        //        response?.json().then(
        //            (json) => console.log(json),
        //            (err) => console.log(err),
        //        ),
        //    );
    }

</script>