@using System.Net
@{
    ViewData["Title"] = "用户管理-标签设置";
}

<div class="container">

    <div class="row row-cols-2 gy-3">
        <div class="col">
            <label for="openid" class="form-label">用户唯一标识：</label>
            <input type="number" class="form-control" id="openid" name="openid" autocomplete="off" readonly />
        </div>
        <div class="col">
            <label for="sex" class="form-label">性别：</label>
            <input type="number" class="form-control" id="sex" name="sex" autocomplete="off" readonly />
        </div>
        <div class="col">
            <label for="language" class="form-label">用户语言：</label>
            <input type="text" class="form-control" id="language" name="language" autocomplete="off" readonly />
        </div>
        <div class="col">
            <label for="country" class="form-label">国家：</label>
            <input type="number" class="form-control" id="country" name="country" autocomplete="off" readonly />
        </div>
        <div class="col">
            <label for="province" class="form-label">省：</label>
            <input type="number" class="form-control" id="province" name="province" autocomplete="off" readonly />
        </div>
        <div class="col">
            <label for="city" class="form-label">城市：</label>
            <input type="number" class="form-control" id="city" name="city" autocomplete="off" readonly />
        </div>
        <div class="col">
            <label for="subscribe_time" class="form-label">关注时间：</label>
            <input type="number" class="form-control" id="subscribe_time" name="subscribe_time" autocomplete="off" readonly />
        </div>
        <div class="col">
            <label for="tagid_list" class="form-label">用户标签：</label>
            <input type="number" class="form-control" id="tagid_list" name="tagid_list" autocomplete="off" readonly />
        </div>
        <div class="col">
            <label for="subscribe_scene" class="form-label">关注渠道来源：</label>
            <input type="number" class="form-control" id="subscribe_scene" name="subscribe_scene" autocomplete="off" readonly />
        </div>
    </div>

</div>

<script>
    //新增标签
    function CreateTag() {
        var tagParameter = {};
        tagParameter.name = $("#name").val();
        if (!tagParameter.name) {
            AlertFail("标签名称不能为空");
            return;
        }
        $.post({
            url: "/User/CreateTag",
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify(tagParameter),
            success: function(res) {
                DefaultAlert(res);
            }
        })
    }

    //编辑标签
    function UpdateTag() {
        var tagDetail = {};
        tagDetail.id = $("#id").val();
        tagDetail.name = $("#name").val();
        $.post({
            url: "/User/UpdateTag",
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify(tagDetail),
            success: function(res) {
                DefaultAlert(res);
            }
        })
    }
</script>