@{
    ViewData["Title"] = "用户管理-用户列表";
}

<div class="container">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#MyModal">新增</button>
    <table id="table" class="table table-striped table-hover"></table>

</div>

@section Scripts{
    <script>

        $('#table').bootstrapTable({
            url: '/User/BatchGetUserInfoList',
            columns:
                [
                    { field: 'openid', title: '用户公众号标识' },
                    //{ field: 'nickname', title: '昵称' },
                    {
                        field: 'sex', title: '性别',
                        formatter: function(cellvalue) {
                            var value = GetEnumDescription(cellvalue, "WeiXinEnum.Sex");
                            console.log(value);
                            return value;
                        }
                    },
                    { field: 'language', title: '用户语言' },
                    { field: 'country', title: '国家' },
                    { field: 'province', title: '省' },
                    { field: 'city', title: '城市' },
                    //{ field: 'headimgurl', title: '头像' },
                    {
                        field: 'subscribe_time', title: '关注时间',
                        formatter: function(cellvalue) {
                            return TimestampToTime(cellvalue);
                        }
                    },
                    //{ field: 'unionid', title: 'unionid' },
                    //{ field: 'remark', title: '备注' },
                    //{ field: 'groupid', title: '用户分组' },
                    { field: 'tagid_list', title: '用户标签' },
                    {
                        field: 'subscribe_scene', title: '关注渠道来源',
                        formatter: function(cellvalue) {
                            return GetConstDescription(cellvalue, "WeiXinConst");
                        }
                    },
                    //{ field: 'qr_scene', title: '二维码扫码场景' },
                    //{ field: 'qr_scene_str', title: '二维码扫码场景描述' },
                    { field: 'operate', title: '操作', align: 'center', valign: 'middle', formatter: operateFormatter }
                ],
            search: true,//搜索框
            //classes: 'table table-bordered table-striped table-condensed table-hover',
            method: 'get',//bootstrap默认的内置请求方式
            sortName: 'sequence',//默认排序列
            queryParamsType: 'limit',//查询参数组织方式
            sidePagination: 'server',//指定服务器端分页
            pagination: true,//是否分页，即分页按钮
            pageSize: 5,//单页记录数
            pageList: [5, 10, 20],//分页步进值
            paginationHAlign: 'right',//分页条水平对齐
            paginationVAlign: 'bottom',//分页条垂直对齐
            singleSelect: true,//只能选中一行
            clickToSelect: true,//点击选中行
            toolbar: '#tb_student',//自定义工具栏对齐方式
            locale: 'zh-CN',//支持中文
            onLoadSuccess: function(data) {//加载成功时执行
            },
            onLoadError: function(status, res) {//加载失败时执行
                AlertFail("表格加载失败：" + res.responseJSON.title);
            },
            onClickRow: function(row) {//表格点击时执行
            }
        })

        //自定义操作列
        function operateFormatter(value, row, index) {
            var result = "";
            var obj = JSON.stringify(row);
            result += "<button type='button' class='btn btn-sm btn-warning m-1' data-bs-toggle='modal' data-bs-target='#MyModal' data-bs-url='/User/UpdateTag' data-bs-id='" + row.id + "' data-bs-name='" + row.name + "' data-bs-count='" + row.count + "'>编辑</button>";
            result += "<button type='button' class='btn btn-sm btn-danger m-1' onclick='DeleteTag(" + obj + ")'>删除</button>";
            return result;
        };

        //删除
        function DeleteTag(obj) {
            var tagDetail = {};
            tagDetail.id = obj.id
            $.post({
                url: "/User/DeleteTag",
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify(tagDetail),
                success: function(res) {
                    DefaultAlert(res);
                }
            })
        }
    </script>
}